body{
  margin:0;
  font-family: Arial, sans-serif;
}

.gallery-section{
  padding:40px;
  text-align:center;
}

.gallery-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap:20px;
  margin-top:30px;
}

.gallery-grid img{
  width:100%;
  border-radius:10px;
  transition:0.3s;
}

.gallery-grid img:hover{
  transform:scale(1.05);
}

